div#wrapper{
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'hd'
    'mn'
    'ft';
    gap: 10px;
    min-height: 100vh;
}

header {
    grid-area: hd;
    background-color: #9b59b6;
    text-align: center;
    padding: 20px;

}

header h1 {
    margin: 0;
    font-size: 2rem;
    justify-content: center;
    color: #e9e9f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    margin-top: 10px;

}

nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

nav ul p a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #e9e9f5;
    margin-right:50px;
    margin-left:50px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul p a:hover{
    background-color:  #8e44ad;
    border-radius: 5px;
}

.main-content {
    display: flex;
    align-items: center;
}
.main-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    grid-area: mn;
    background-color: whitesmoke
}

h2{
    font-size: 1.5rem;
    color:#9b59b6;
    margin-top: 10px;
}


.main-image{
   width: 30%;
   height: auto;
   margin: 20px;
   border-radius: 10px;
   margin-left: 100px;

}

.articles {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.articles article{
    background-color:  #e9e9f5;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);;
}
.articlesimg{
    width: 250px;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

article h2 a{
    text-decoration: none;
    color: #9b59b6;
}
article h2 a:hover{
    background-color: white;
    border-radius: 10px;
}

footer{
    grid-area: ft;
    background-color: #9b59b6;
    color: white;
    text-align: center;
    padding: 10px;
    
}
