div#wrapper{
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'hd'
    'mn'
    'ft';
    gap: 10px;
    min-height: 100vh;
}

header {
    grid-area: hd;
    background-color: #9b59b6;
    text-align: center;
    padding: 20px;

}

header h1 {
    margin: 0;
    font-size: 2rem;
    justify-content: center;
}
nav{
    margin-top: 10px;

}

nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

nav ul p a{
    text-decoration: none;
    font-size: 1rem;
    color: aquamarine;
}


main{
    grid-area: mn;
    background-color: #9b59b6;
}

footer{
    grid-area: ft;
    background-color: chartreuse;
}



.main-image{
    height: 200px;
    display: block;
    border-radius: 5px;
    padding: 30px;
    position: absolute;
    right: 900px;

}

.articles {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.articlesimg{
    height: 200px;
    display:block;
}